.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1000ms ease;
}

img.background {
  z-index: 1;
}

video.background {
  z-index: 2;
}

.background[data-shown='true'] {
  opacity: 1;
}

.overlay {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
